<div class="container mt-5">
  <section class="page-section pricing mb-0" id="">
    <a class="anchor" id="about"></a>
      <div class="container">
          <!-- Icon Divider-->
          <div class="text-center">
              <h1 class="font-weight-bold">ВЫБЕРИТЕ ТИП АККАУНТА</h1>
          </div>
          
          <!-- About Section Content-->
          <div class="card-deck mb-3 text-center mt-5">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Демо</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">0 руб <small class="text-muted">/ мес.</small></h1>
                  <ul class="list-group mt-3 mb-4">
                    <li class="list-group-item">не более 5 адресов</li>
                    <li class="list-group-item">1 сотрудник</li>
                    <li class="list-group-item">1 автотранспорт</li>
                    <li class="list-group-item">5 расчетов маршрута</li>
                    <li class="list-group-item">выгрузка путевых листов</li>
                  </ul>
                  <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('account.register') }}">Попробуйте бесплатно</a>
                </div>
              </div>
              <div class="card border-success mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Обычный тариф</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">500 руб <small class="text-muted">/ мес</small></h1>
                  <ul class="list-group mt-3 mb-4">
                    <li class="list-group-item">неограниченное количество адресов</li>
                    <li class="list-group-item">до 1000 сотрудников</li>
                    <li class="list-group-item">до 1000 единиц автотранспорта</li>
                    <li class="list-group-item">неограниченный расчет маршрутов</li>
                    <li class="list-group-item">выгрузка путевых листов</li>
                    <li class="list-group-item">поддержка по электронной почте</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-dark">Пока недоступно</button>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Годовой тариф</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">4800 руб <small class="text-muted">/ год</small></h1>
                  <ul class="list-group mt-3 mb-4">
                    <li class="list-group-item">неограниченное количество адресов</li>
                    <li class="list-group-item">до 1000 сотрудников</li>
                    <li class="list-group-item">до 1000 единиц автотранспорта</li>
                    <li class="list-group-item">неограниченный расчет маршрутов</li>
                    <li class="list-group-item">выгрузка путевых листов</li>
                    <li class="list-group-item">поддержка по электронной почте</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-dark">Пока недоступно</button>
                </div>
              </div>
          </div>
      </div>
  </section>
</div>