{% extends 'layout.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">Расчет</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	  <div class="btn-group mr-2">
	    <a class="btn btn-sm btn-outline-secondary" href="#">Загрузить</a>
	    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('calc') }}">Расчет</a>
	    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('home') }}">Экспорт</a>
	  </div>
	</div>
	</div>
	<h2>Матрица расстояний</h2>
	<div class="table-responsive">
	<table class="table table-striped table-sm">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Локация</th>
	      <th>Координаты</th>
	      <th>Расстояние</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for index, row in data.iterrows() %}
	    	<tr>
		      <td>{{ index }}</td>
		      <td>{{ row['location'] }}</td>
		      <td></td>
		      <td></td>
	    	</tr>
	    {% endfor %}
	  </tbody>
	</table>
	</div>
	</main>
{%  endblock content %}
