{% extends 'landing/landing_layout.html' %}
{% block content %}
<div class="container mt-5">
  <section class="page-section pricing mb-0" id="">
    <a class="anchor" id="review"></a>
      <div class="container">
          <!-- Icon Divider-->
          <div class="text-center">
              <h1 class="font-weight-bold">СПАСИБО ЗА ВАШ ОТЗЫВ!</h1>
          </div>
          
          <!-- Review Section Content-->

          <p class="font-weight-light text-center mb-0 mt-4">Мы обязательно рассмотрим отзыв и надеемся улучшить качество сервиса к запуску</p>
          
      </div>
  </section>
</div>
{%  endblock content %}